# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
jobs:
  lint:
    # Specify the execution environment. You can specify an image from Dockerhub or use one of our Convenience Images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/2.0/configuration-reference/#docker-machine-macos-windows-executor
    docker:
            - image: cimg/python:3.8
    # Add steps to the job
    # See: https://circleci.com/docs/2.0/configuration-reference/#steps
    steps:
      - checkout
      - run:
          name: lint DockerFile
          command: |
                  sudo wget -O /bin/hadolint https://github.com/hadolint/hadolint/releases/download/v2.10.0/hadolint-Linux-x86_64
                  sudo chmod +x /bin/hadolint
      - run:
              name: lint app.py
              command: |
                      source .venv/bin/activate
                      pip install pylint
                      make install
                      make lint
  docker-create-upload:
        docker:
                - image: cimg/python:3.8
        steps:
                - checkout
                - setup_remote_docker:
                        version: 20.10.7
                - run:
                        name: Build Docker
                        command: |
                                docker build . --tag $DOCKER_IMAGE_NAME:capstone
                                docker image ls
                - run:
                        name: Upload Docker to Docker.com
                        command: |
                                dockerpath=$DOCKER_USERNAME/capstone
                                echo "Docker ID and Image: $dockerpath"
                                docker tag $DOCKER_IMAGE_NAME:capstone $dockerpath
                                docker login --username=$DOCKER_USERNAME --password=$DOCKER_PASSWORD
                                docker push $dockerpath 
  deploy-to-EKS:
          docker:
                  - image: amazon/aws-cli
          steps:
                  - checkout
                  - run:
                          name: update kubeconfig
                          command: |
                                  aws configure list
                                  aws configservice describe-configuration-recorder-status
                                  aws eks --region us-east-1 update-kubeconfig --name amirali1690-capstone-cluster


                                
# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  workflow:
    jobs:
      - lint
      - docker-create-upload
      - deploy-to-EKS
